# Copy to .env only if you need different values
DB_PORT=3306
DB_USERNAME=camphub_user
DB_PASSWORD=camphub_dev_password
MYSQL_ROOT_PASSWORD=root_dev_password
JWT_SECRET=cdc4f6912b05f3aa29ecfef6ef8c32df61227c857fb8adbb61ef26d092808fa0
ADMIN_PASSWORD=admin_dev_password
